@model WMS.Entities.Status
@{
     
}



<div id="transaction">
    @using (Html.BeginForm())
    {
       
       @Html.Partial("ModalTemplates/_Alert")
        <div class="form-group">
            <div class="editor-label">
                <label>Status Code</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                <p id="status" class="small">Verify if Code exists.</p>
            </div>
            <div class="editor-label">
                <label>Status Name</label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                <p class="small">Please specify the Status Name</p>
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                <p class="small">Please specify the Status Description</p>
            </div>

        </div>
        <div class="right">
            <button id="btnSave" class="btn btn-large btn-success" type="button">
                Save
            </button>
            <button id="btnClose" class="btn btn-large btn-success" type="button" data-dismiss="modal">
                Cancel
            </button>
        </div>
    }


</div>



@Html.Hidden("New", Url.Action("New"))
@Html.Hidden("CheckAvailability", Url.Action("CheckAvailability"))
@Scripts.Render("~/bundles/jquery.validate")
@Scripts.Render("~/bundles/global/main")









